.sidebar {
    position: fixed;
    /* Fix the sidebar to the viewport */
    top: 0;
    left: 0;
    height: 100vh;
    /* Full height */
    width: 250px;
    /* Adjust the width as needed */
    background-color: #333;
    /* Example background color */
    overflow-x: hidden;
    /* Prevent horizontal scroll */
    transition: 0.3s;
    /* Smooth transition for opening and closing */
    color: white;
}

.sidebar-closed {
    width: 80px;
    /* Width when the sidebar is closed */
}

.sidebar__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    /* Adjust as needed */
    background-color: #444;
    /* Example button background */
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar__listItem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sidebar__icon {
    margin-right: 10px;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 100ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 100ms;
}